
.nav{
    display: flex;
    padding: 20px;
}

.nav__el{
    padding: 8px 16px;
    border: lightgray 1px solid;
    border-radius: 4px;
    font-size: 22px;
    cursor: pointer;
}
.nav__el:hover{
    background-color: lightskyblue;
}

.container{
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    
}

.card{
    display: flex;
    border: lightgray 1px solid;
    /* margin: 20px; */
    
}
.card__img{
    height: 180px;
    width: 220px;
    padding: 20px;
}

.card__span{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.card__email{
    color: white;
}

.card:active {
    background-color: linen;
}

.card__span:hover > p {
    color: black;
}

.card__text{
    padding: 10px;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* width: 30vw; */
    padding: 20px;

}

.form__container{
    width: 40%;
    display: flex;
    flex-direction: column;
    border: lightgrey 1px solid;
    padding: 20px;
}

.form__name{
    display: flex;
    justify-content: space-between;
}
.form__name_1{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.form__email{
    display: flex;
    flex-direction: column;
    width: 45%;
}



input{
    margin-top: 15px;
}


label{
    margin-top: 15px;
}

.form__img{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form__msg{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

textarea{
    margin-top: 15px;
}

input[type=submit] {
    background-color:wheat;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: lightpink;
  }


@media only screen and (max-width: 960px) {
    .container {
        display: grid;
        /* grid-column-gap: 50px; */
        grid-template-columns: 1fr;
    }
    .card__span{
        flex-direction: column;
    }
    .form__name{
        flex-direction: column;
        align-items: center;
    }
    .form__name_1{
        
        width: 100%;
    }
    .form__email{
        
        width: 100%;
    }
  }

  @media only screen and (max-width: 600px) {
    .card{
        flex-direction: column;
        align-items: center;
    }
    

  }
